<!DOCTYPE html>
{% load staticfiles %}


<html>
<head>

	<title>About Student</title>
</head>
<body>

<h1>Homework Assignment by Jason Fetzer</h1>

<h2>Assignment 3, Bing Maps QuadKey Demo</h2>

<ul>
<li><p>This assignment was prepared for GeoSpatial Data and Visualization at Illinois Institute of Technology, Chicago, IL.  The Bing Maps Documentation for this assignment can be found <a href="https://msdn.microsoft.com/en-us/library/bb259689.aspx"> here </a></p></li>
<li><p>Code Sample from C# was ported to Python & Javascript and used in Django MVC framework. The tilePython.py file consists of the Tile System class.  The minimal application is deployed on Python Anywhere, and documentation can be found <a href="https://www.pythonanywhere.com/">here</a>.  The working functions are a product of Javascript, not the Python implementations or C#.</p></li>
<li>Documentation for Javascript implementations can be found through the Here Developer (Traffic) API (the docs are better than Bing!)</li>
<li><p>The ideas behind the application consist of being able to click both points on the map, pass them to input boxes, calculate resuls, and link to the tile page.  The "alerts" show the results of the calculations from user input.  This will serve as a base for the final application.</p></li>

</ul>

</body>
</html>